@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

html {
  color: #222;
  font-size: 1.5em;
  font-weight: 500;
}

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  background-image: url("background.png");
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

h2{
  text-align: center;
}

h3{
  margin: 0;
  text-align: center;
}

p{
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

hr {
  width: 96%;
  border: 1px solid #C0C0C0;
}

i {
  padding-left: 25%;
}

#container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#today-forecast{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 3%;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 14px -1px rgba(158, 158, 158, 0.57);

}

#today-header{
  margin-top: 1%;
  margin-bottom: 1%;
  text-transform: capitalize;
}

#today-icon-and-temp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#today-icon{
  margin-top: 30%;

}

#today-temp{
  font-size: 3rem;
}

#today-description{
  font-size: 1.5rem;
  text-transform: capitalize;
}

#today-bottom-data{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

#today-high-low{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
}

.fa-arrow-up{
  color: red;
}

.fa-arrow-down{
  color: blue;
}

#display-forecast{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 60vw;
}

#forecast-header{
  font-size: 1.6rem;
}

.day-forecast{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2% 0;
  padding: 1%;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 14px -1px rgba(158, 158, 158, 0.57);
  min-width: 15vw;
}

.day-forecast > *{
  font-size: 0.8rem;
}

.day-forecast-data-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.forecast-icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.forecast-description{
  text-transform: capitalize;
}
