@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

html {
  color: #222;
  font-size: 1.5em;
  font-weight: 500;
}

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  background-image: url("background.png");
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

p{
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

hr {
    width: 96%;
    color: #FFFF00;
    height: 1px;
}
i {
  padding-left: 25%;
}

.entry {

}

#container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#today-forecast{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  padding: 3%;

}

#today-header{
  margin-top: 1%;
  margin-bottom: 1%;
  text-transform: capitalize;
}

#today-icon-and-temp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#today-icon{
  margin-top: 30%;

}

#today-temp{
  font-size: 3rem;
}

#today-description{
  font-size: 1.5rem;
  text-transform: capitalize;
}

#today-bottom-data{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

#today-high-low{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
}

.today-forecast > p {
  font-size: 2rem;
}
